{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<style>
    .form-group {
        margin-bottom: 15px; 
    }

    label {
        display: block; 
        margin-bottom: 5px; 
    }

    input {
        width: 100%; 
        padding: 8px; 
        box-sizing: border-box; 
    }

    button {
        padding: 10px 15px; 
        cursor: pointer;
        margin-top: 20px;
    }
    
</style>

<div class="container">
    <h2>Вход</h2>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="knopka">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}
