{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Дополнительные материалы</h2>
    <p>Здесь вы найдёте полезные материалы для обучения.</p>
    <ul>
        <li><a href="/static/files/math.pdf" target="_blank">Учебник по математике (PDF)</a></li>
        <li><a href="/static/files/history.mp4" target="_blank">Видеоурок по истории</a></li>
        <li><a href="/static/files/biology.png" target="_blank">Схема биологической классификации</a></li>
        <li><a href="/static/files/russian.docx" target="_blank">Тесты по русскому языку (Word)</a></li>
    </ul>
</div>
{% endblock %}
